@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --bg-color: #ffffff;
  --card-bg: #b8daf7;
  --primary-color: #7c3aed; /* Purple */
  /* --accent-color: #06b6d4;  */
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --contact-form : #F5F5F5;
  --subheading-color : #737373;
  /* --gradient-hover: linear-gradient(90deg, #7c3aed, #06b6d4); */

  /* Font */
  --font-family: "Poppins", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
  /* font-size: large; */
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  /* --primary-color: #7c3aed; 
  --accent-color: #06b6d4; */
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --subheading-color : #b0b9b1;
  --contact-form : #0f172a;
  /* --gradient-hover: linear-gradient(90deg, #7c3aed, #06b6d4); */
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  transition: background-color 0.9s ease, color 0.9s ease;
}
 

::-webkit-scrollbar {
  @apply hidden;
}

.active {
  color: var(--primary-color);
  font-weight: bold;
}

::placeholder{
  color: var(--text-primary);
}

